<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WPF_Explorer_Tree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DB0" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = exax7q-scan.vnpthcm.vn)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = PDBLSN) ) ); User ID=WORKBLOG;Password=WORKBLOG; Unicode=False;"/>
    <add key="LANGSON" value="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.20.16.1)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = langson))); User ID=LANGSON;Password=tienlen123; Unicode=False;"/>
    <add key="DB" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = exax7q-scan.vnpthcm.vn)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = PDBLSN) ) ); User ID=dulieu_lsn;Password=dhnv1234567$; Unicode=True;"/>
    <add key="DBkien" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = exax7q-scan.vnpthcm.vn)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = PDBLSN) ) ); User ID=dulieu_lsn;Password=dhnv1234567$;"/>
    <add key="DULIEU_LSN" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = exax7q-scan.vnpthcm.vn)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = PDBLSN) ) ); User ID=dulieu_lsn;Password=dhnv1234567$; Unicode=True;"/>
    <add key="TINHCUOC_LSN" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = exax7q-scan.vnpthcm.vn)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = PDBLSN) ) ); User ID=tinhcuoc_lsn;Password=dhnv1234567$; Unicode=True;"/>
    <add key="BCSS_LSN" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = exax7q-scan.vnpthcm.vn)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = PDBLSN) ) ); User ID=dulieu_lsn;Password=dhnv123456$; Unicode=True;"/>
    <add key="TRATRUOC" value="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.20.16.224)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = CCBS))); User ID=BAOCAO_LSN;Password=khongbiet;Unicode=True;"/>
    <add key="TRATRUOC1" value="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.20.16.224)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = CCBS))); User ID=BAOCAO_LSN;Password=khongbiet;"/>
    <add key="wsAcc" value="lsnservice"/>
    <add key="wsPwd" value="Lsn@123##"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>




  <userSettings>
    <WPF_Explorer_Tree.Properties.Settings>
      <setting name="RootPath" serializeAs="String">
        <value>C:\</value>
      </setting>
    </WPF_Explorer_Tree.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
